#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.item-and-quantity {
  display: flex;
}

.item-details {
  background-color: aquamarine;
}

.nav {
  background-color: aqua;
}

.title {
  display: flex;
  justify-spae
}

.invetory {
    margin-left: 0;
}

.home {
    margin-right: 0px;
}
